[project]
	description = A C++ Client for Accumulo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Corey J. Nolet (cjnolet)
[access "refs/for/refs/*"]
	read = group user/Corey J. Nolet (cjnolet)
	push = group user/Corey J. Nolet (cjnolet)
	label-Code-Review = -2..+2 group user/Corey J. Nolet (cjnolet)
	label-Verified = -1..+1 group user/Corey J. Nolet (cjnolet)
	rebase = group user/Corey J. Nolet (cjnolet)
	removeReviewer = group user/Corey J. Nolet (cjnolet)
	submit = group user/Corey J. Nolet (cjnolet)
[access "refs/heads/*"]
	read = group user/Corey J. Nolet (cjnolet)
	create = group user/Corey J. Nolet (cjnolet)
	push = +force group user/Corey J. Nolet (cjnolet)
	pushMerge = group user/Corey J. Nolet (cjnolet)
[access "refs/tags/*"]
	push = +force group user/Corey J. Nolet (cjnolet)
	pushTag = group user/Corey J. Nolet (cjnolet)
	pushSignedTag = group user/Corey J. Nolet (cjnolet)
